/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
coverage.*
test-output.*
.cache/
.mypy_cache/
/tests/keys/localhost.crt
/tests/keys/localhost.key

.ipynb_checkpoints
.jupyterlab-workspace

*.ipynb

log
debug_tmp
debug_scrapeddata
temp
scrapeddata
__pycache__
config.py

# Windows
Thumbs.db
memo.md